# ==========================
# Build results
# ==========================
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/

# ==========================
# .NET Core / SDK
# ==========================
project.lock.json
project.fragment.lock.json
artifacts/
*.dotCover
*.nupkg
*.snupkg
*.user
*.suo
*.userosscache
*.sln.docstates

# ==========================
# Visual Studio
# ==========================
.vs/
.vscode/
*.vscode/
*.code-workspace
*.dbmdl
*.opendb
*.VC.db
*.VC.opendb

# ==========================
# Test Results
# ==========================
TestResults/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.VisualState.xml
TestResult.xml
nunit-*.xml
coverage.*
*.coverage
*.coveragexml
*.profdata
*.profraw
*.log
*.perfview
CodeCoverage/

# ==========================
# NuGet
# ==========================
*.nupkg
*.snupkg
packages/
.nuget/
*.dotnet-restore/

# ==========================
# Others
# ==========================
~$*
*~
*.bak
*.backup
*.swp
*.swo
*.tmp
*.tmp_proj
